body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1f2937;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 50px;
    gap: 200px;
    height: 70vh;
}


.header-1, .header-2{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    height: 70%;
}

.header-1{
    align-items: flex-start;
}

.header-2{
    align-items: flex-end;
}

.one{
    margin-bottom: 45px;
}

.awesome-title{
    font-size: 40px;
    font-weight: 900;
    color: #F9FAF8;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.h-al-item{
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.al-item-text{
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up-button{
    height: 40px;
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #3882F6;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.h-links ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.h-links li{
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
}

.h-links li a{
    text-decoration: none;
    color: #e5e7eb;
}

.img{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: grey;
    color: white;
}

/*section*/

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 70px;
}

.section-item-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 50px;
}

.section-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.section-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section-sub-item-img{
    height: 300px;
    border: 5px solid #3882F6;
    width: 100%;
    border-radius: 10px;
}

.text{
    width: 50%;
    text-align: center;
}

/*section-2*/

